# ------------------------
# macOS system files
# ------------------------
.DS_Store

# ------------------------
# Python
# ------------------------
.pytest_cache/
__pycache__/
venv/
tests/output/*

# ------------------------
# Test files
# ------------------------
out/
pdf_out/
eml_out/
mbox_out/
csv_out/