# ------------------------
# macOS system files
# ------------------------
.DS_Store
.vscode/
Thumbs.db

# ------------------------
# Build artifacts
# ------------------------
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
wheelhouse/

# ------------------------
# Python
# ------------------------
.pytest_cache/
__pycache__/
venv/
tests/output/*
*.py[cod]
*$py.class

# ------------------------
# Test files
# ------------------------
out/
pdf_out/
eml_out/
mbox_out/
csv_out/